* {
    box-sizing: border-box;
}

body {
    background-color: #fdfcfd;
    font-family: poppins;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
    background-color: rgba(14,50,68,1);
    height: 120px;
    width: 100%;
    position: fixed;  /*scroll tidak berubah posisi*/
    top: 0;
    z-index:10; /*header di depan */
    justify-content: space-around;
}

.header-logo a {
    line-height: 33px;
    padding: 50px 15px 10px 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    font-size: 45px;
}
.logo-left {
    float: left;
    padding: 30px 20px 0 20px;
}

.logo {
    width: 100px;
    height: 40px; 
    position: absolute;
    top:30;
    left: 60px;
}

.header-left {
    float: left;
}

.header-left a {
    line-height: 33px;
    padding: 60px 15px 10px 15px;
    color: #c7a082;
    display: block;
    float: left;
    transition: all 0.5s;
    font-size: 16px;
}

.header-right {
    float:right;
    margin-top: 25px;
}

.header-right a{
    line-height: 65px;
    /* padding: 0 25px; */
    padding-right: 70px;
    margin-right: 70px;
    color: white;
    display: inline-block;
    transition: all 2s;
    font-size: 16px;
    /* position: fixed; */
}


.fa {
    margin-left: 5px;
}

.menu-line {
    height:3px;
    width: 20px;
    background-color: white;
    margin-bottom: 4px;
}

.menu-icon {
    display: none;
}

.login-icon {
    display: none;
}
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
  }

footer {
    background-color: rgba(14,50,68,1);
    height: 200px;
    width: 100%;
    align-items: center;
}

.footer-top {
    padding: 15px 0 15px 0;
}

.footer-top a {
    list-style: none;
    padding: 0 25px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    color: #c7a082;
    align-items: center;
}

.flex-list {
    display: flex;
}

.flex-list li {
    flex: auto;
    width: 100%;
    margin: 0 auto;
}

.menu-footer {
    padding: 5px 5px;
    text-align: center;
}

.footer-bottom-text {
    color: #c7a082;
    text-align: center;
    float: none;
    z-index: 100;
    position: relative;
    width: 100%;
}

.footer-bottom-text p {
    padding: 20px 20px;
    margin: 0 auto;
    line-height: 20px;
}





.slider{
    overflow: hidden;
    margin-top: 100px;
  }
  .slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  .slider figure img {
    width: 20%;
    float: left; 
  }
  
  @keyframes slide{
    0%{
      left: 0;
    }
    20%{
      left: 0;
    }
    30%{
      left: -100%;
    }
    50%{
      left: -100%;
    }
    60%{
      left: -200%;
    }
    80%{
      left: -200%;
    }
    100%{
      left: 0;
    }
  
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}

body {
    font-family: "Lucida Grande";
}

/*Title Container*/
.section-title {
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-size: 4vw;
    margin-bottom: 3vh;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 50%;
    flex: auto;
}

.clear {
    clear: left;
}

.pr1 {
    background-color: #0e3145;
    color: white;
}

.pr2 {
    background-color: #efedec; 
    color: black;
}

.pr3 {
    background-color: #ab9581;
    color: white;
}

.pr4 {
    background-color: #69c5bd;
    color: white;
}

.description {
    width: 50%;
    float: left;
    height: auto;
    padding: 2vh 2vw 2vh 2vw;
}

.description h2 {
    margin-bottom: 1.5vh;
    font-size: 2vw;
    font-weight: normal;
}

.description p {
    font-size : 18px;
    line-height: 20px;
    opacity: 0.7;
}

.wrapper-img {
    width: 50%;
    float: right;
    height: 100%;

}

.product-img {
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    float: right;
}

.product-img img {
    width: 100%;
    border-radius: 100%;
    border: 4px dashed gray;
}

.btn-idcard {
    padding: 8px 10px;
    border-radius: 5px;
    color: #0e3145;
    display: inline-block;
    background-color: #efedec;
    cursor: pointer;
    margin-top: 12.5vh;
}

.btn-ybanner {
    padding: 8px 10px;
    border-radius: 5px;
    color: gray;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    margin-top: 13vh;
}

.btn-lanyard {
    padding: 8px 10px;
    border-radius: 5px;
    color: gray;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    margin-top: 18vh;
}

.btn-spanduk {
    padding: 8px 10px;
    border-radius: 5px;
    color: gray;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    margin-top: 15.8vh;
}

.lw { font-size: 60px; }


.lalalili {
  background-color: #62516d;
  color: #f2eeeb;
  font-family: Cambria, Georgia, serif;
  font-size: 20;
  padding: 100px 10px 80px 10px;
 }

.bolang {
  background-color: #62516d;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
 }

.message {
  background-color: #d2c2d1;
  box-shadow: 0 5px #412b76;
  cursor: pointer;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 15px 30px;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
  }
.card {
    flex: 20%;
    margin: 20px;
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 15px;
}
.card:hover {
    box-shadow: 0px 0px 5px rgb(201, 201, 201);
}
.card-inner {
    padding: 30px;
}

.testimoni-image {
    width: 100px;
    border: none;
    border-radius: 50%;
}

.testimoni{
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
}